<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=utf-8">
	<TITLE></TITLE>
	<META NAME="GENERATOR" CONTENT="LibreOffice 4.1.6.2 (Linux)">
	<META NAME="AUTHOR" CONTENT="Adamant1n">
	<META NAME="CREATED" CONTENT="20181126;94200000000000">
	<META NAME="CHANGEDBY" CONTENT="Microsoft Office User">
	<META NAME="CHANGED" CONTENT="20190331;74600000000000">
	<META NAME="AppVersion" CONTENT="16.0000">
	<META NAME="DocSecurity" CONTENT="0">
	<META NAME="HyperlinksChanged" CONTENT="false">
	<META NAME="LinksUpToDate" CONTENT="false">
	<META NAME="ScaleCrop" CONTENT="false">
	<META NAME="ShareDoc" CONTENT="false">
	<STYLE TYPE="text/css">
	<!--
		@page { margin-left: 0.79in; margin-right: 0.59in; margin-top: 0.79in; margin-bottom: 0.79in }
		P { margin-bottom: 0.08in; direction: ltr; widows: 2; orphans: 2 }
		A:link { color: #0000ff; so-language: zxx }
	-->
	</STYLE>
</HEAD>
<BODY LANG="ru-RU" LINK="#0000ff" DIR="LTR">
<P ALIGN=CENTER STYLE="margin-bottom: 0in">Отчет за день,
смена № <SPAN LANG="en-US"><U>{{shift_number}}</U></SPAN></P>
<P ALIGN=CENTER STYLE="margin-bottom: 0in">От<SPAN LANG="en-US">
{{opened_at}} </SPAN>до<SPAN LANG="en-US"> {{closed_at}}</SPAN></P>
<TABLE WIDTH=676 CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=323>
	<COL WIDTH=323>
	<TR VALIGN=TOP>
		<TD WIDTH=323 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Организация: <SPAN LANG="en-US">{{legal_name}}</SPAN></P>
		</TD>
		<TD WIDTH=323 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Кассир: <SPAN LANG="en-US">{{cashier_name}}</SPAN></P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=323 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P><A NAME="_GoBack"></A>Филиал: <SPAN LANG="en-US">{{location_name}}</SPAN></P>
		</TD>
		<TD WIDTH=323 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Фиск. регистратор: {{kkt_serial}}</P>
		</TD>
	</TR>
</TABLE>
<P ALIGN=CENTER STYLE="margin-bottom: 0in"><BR>
</P>
<TABLE WIDTH=676 CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=210>
	<COL WIDTH=211>
	<COL WIDTH=211>
	<TR VALIGN=TOP>
		<TD WIDTH=210 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>ВЫРУЧКА ЗА СМЕНУ:</P>
		</TD>
		<TD WIDTH=211 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Наличные</P>
		</TD>
		<TD WIDTH=211 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Банк. карты</P>
		</TD>
		<TD WIDTH=211 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>Счет</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=210 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>{{revenue}}</P>
		</TD>
		<TD WIDTH=211 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>{{revenue_cash}}</P>
		</TD>
		<TD WIDTH=211 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>{{revenue_card}}</P>
		</TD>
		<TD WIDTH=211 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P>{{revenue_invoice}}</P>
		</TD>
	</TR>
</TABLE>
<P STYLE="margin-bottom: 0.14in"><BR>
</P>
<P STYLE="margin-bottom: 0in">Прокат инвентаря,
Наличные</P>
{{table_cash}}
<P LANG="en-US" ALIGN=CENTER STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in">Прокат инвентаря, Банк.
карты</P>
{{table_card}}
<P ALIGN=CENTER STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in">Прокат инвентаря, Счет</P>
{{table_invoice}}
<P ALIGN=CENTER STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in">Продажа товаров, Наличные</P>
{{table_sale_cash}}
<P ALIGN=CENTER STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in">Продажа товаров, Банк.
карты</P>
{{table_sale_card}}
<P STYLE="margin-bottom: 0in">Продажа товаров, Счет</P>
{{table_sale_invoice}}
<P ALIGN=CENTER STYLE="margin-bottom: 0in"><BR>
</P>
<P STYLE="margin-bottom: 0in">Доплата задолженности</P>
{{table_debts}}
<P STYLE="margin-bottom: 0.14in"><BR><BR>
</P>

<P STYLE="margin-bottom: 0.14in"><FONT SIZE=3>Подлежит сдаче
в главную кассу организации: </FONT><FONT SIZE=3><B>{{revenue_cash}}</B></FONT><FONT SIZE=3> руб.</FONT></P>
<P STYLE="margin-bottom: 0.14in">Деньги сдал(а): Кассир
___________________ /    {{cashier_name}}  /</P>
<P STYLE="margin-bottom: 0.14in">Деньги принял(а): 
____________________           _____________________/                
               /</P>
<P STYLE="margin-bottom: 0.14in"><BR><BR>
</P>

<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8L/m/HgAGzgKY9/gjYwAAAABJRU5ErkJggg==">

<!-- onload="window.print();setTimeout(window.close, 1000);"  -->

</BODY>
</HTML>