<TR VALIGN=TOP>
	<TD WIDTH=79 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
		<P ALIGN=CENTER>{{time}}</P>
	</TD>
	<TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
		<P ALIGN=CENTER>{{price}}</P>
	</TD>
	<TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
		<P ALIGN=CENTER>{{refund}}</P>
	</TD>
	<TD WIDTH=71 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
		<P ALIGN=CENTER><SPAN LANG="en-US">{{customer_id}}</SPAN></P>
	</TD>
	<TD WIDTH=144 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
		<P ALIGN=CENTER>{{last_name}}</P>
	</TD>
</TR>