<TABLE WIDTH=678 CELLPADDING=7 CELLSPACING=0>
	<COL WIDTH=79>
	<COL WIDTH=99>
	<COL WIDTH=99>
	<COL WIDTH=71>
	<COL WIDTH=144>
	<COL WIDTH=99>
	<TR VALIGN=TOP>
		<TD WIDTH=79 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><B>Время</B></P>
		</TD>
		<TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><B>Сумма приход</B></P>
		</TD>
		<TD WIDTH=99 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><B>Сумма возврат</B></P>
		</TD>
		<TD WIDTH=71 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><B>Клиент</B></P>
		</TD>
		<TD WIDTH=144 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><B>Фамилия клиента</B></P>
		</TD>
	</TR>
	{{rows}}
	<TR VALIGN=TOP>
		<TD WIDTH=79 BGCOLOR="#a6a6a6" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER>ИТОГО:</P>
		</TD>
		<TD WIDTH=99 BGCOLOR="#a6a6a6" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><B>{{total}}</B></P>
		</TD>
		<TD WIDTH=99 BGCOLOR="#a6a6a6" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P ALIGN=CENTER><B></B></P>
		</TD>
		<TD COLSPAN=2 WIDTH=342 BGCOLOR="#a6a6a6" STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
			<P LANG="en-US" ALIGN=CENTER><BR>
			</P>
		</TD>
	</TR>
</TABLE>