<template>
    <div>
        <div class="mb-3">Дополнительный инвентарь:</div>

        <div class="row">
            <div class="col-md-3 col-xs-12" v-for="(product, index) in products" :key="index">
                <div @click="toggleProduct(product)" class="px-3 py-3" :class="{'border-success': selectedProducts[product.category_id] !== undefined}" style="cursor: pointer; border: 1px solid #f3f3f3">
                    <img :src="product.image" class="img-fluid">
                    <div class="text-center">
                        {{ product.name }}
                    </div>
                </div>

                <div class="mt-1">
                    <div @click="toggleSize(product, size)" class="px-3 py-1 d-inline-block mr-1" v-for="(size, index) in product.sizes" :key="index" :class="{'border-success': selectedProducts[product.category_id] == size}" style="cursor: pointer; border: 1px solid #f3f3f3">
                        <div class="text-center">
                            {{ size }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                selectedProducts: {},
            }
        },
        props: {
            products: Array,
            order: Object,
            kit: Object,
        },
        methods: {
            toggleProduct (product) {
                var vm = this;

                if(this.selectedProducts[product.category_id] != undefined && this.selectedProducts[product.category_id] != -1)
                {
                    Object.keys(this.selectedProducts).forEach(function (key) {
                        if(key == product.category_id)
                        {
                            delete vm.selectedProducts[key];
                        }
                    });

                    this.kit.additionals.forEach(function (additional, index) {
                        if(additional.category_id == product.category_id)
                        {
                            vm.kit.additionals.splice(vm.kit.additionals.indexOf(additional));
                        }
                    });
                }
                else
                {
                    Vue.set(this.selectedProducts, product.category_id, product.sizes[0]);

                    this.kit.additionals.push({
                        category_id: product.category_id,
                        size: product.sizes[0],
                    });
                }

                console.log(this.selectedProducts);
                vm.$forceUpdate();


                this.$emit('updated');
            },
            toggleSize (product, size) {
                var vm = this;

                Vue.set(this.selectedProducts, product.category_id, size);

                this.kit.additionals.forEach(function (additional, index) {
                    if(additional.category_id == product.category_id)
                    {
                        vm.kit.additionals[index].size = size;
                    }
                })
                this.$emit('updated');
            }
        },
        mounted () {

        },
        created () {
            
        }
    }
</script>