<template>
    <div class="row w-100">
        <div class="mx-auto" :class="{'col-lg-8': step > 1, 'col-lg-4': step == 1}">
            <div class="auth-form-light text-left py-4 px-5 pb-5">
                <div v-show="step == 1">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label>Номер телефона</label>
                            <input type="text" class="form-control input-lg" v-model="order.client.phone">
                        </div>
                    </div>
                </div>

                <div v-show="step == 2">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Аренда с: </label>
                                <div class="col-sm-6">
                                    <flat-pickr class="form-control" v-model="order.date" :config="datepickers.date"></flat-pickr>
                                </div>
                                <div class="col-sm-3">
                                    <flat-pickr class="form-control" v-model="order.time" :config="datepickers.time"></flat-pickr>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Срок аренды (дней)</label>
                                <div class="col-sm-3">
                                    <input v-on:change="updatePrice" class="form-control" min="1" max="30" type="number" v-model="order.duration">
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr />

                    <kit v-for="(kit, index) in order.kits" :kit="kit" :products="products" :order="order" :key="index" v-on:remove-kit="removeKit" v-on:updated="updatePrice" />

                    <div class="mt-2">
                        <button class="btn btn-outline-success" type="button" @click="addKit">Добавить комплект</button>
                    </div>
                </div>

                <div v-show="step == 3">
                    <client :order="order" />
                
                    <hr />

                    <h5>Варианты доставки</h5>

                    <div class="row">
                        <div class="form-group col-6">
                            <label>Выберите тип доставки</label>
                            <select class="form-control" v-model="order.delivery">
                                <option v-for="type in deliveryTypes" :key="type.value" v-bind:value="type">
                                    {{ type.name }}
                                </option>
                            </select>
                        </div>

                        <div class="form-group col-6" v-show="order.delivery.value == 'self'">
                            <label>Выберите пункт проката</label>
                            <select class="form-control" v-model="order.location">
                                <option v-for="location in locations" :key="location.id" v-bind:value="location">
                                    {{ location.address }}
                                </option>
                            </select>
                        </div>

                        <div class="form-group col-6" v-show="order.delivery.value == 'delivery'">
                            <label>Введите адрес доставки</label>
                            <input type="text" class="form-control" v-model="order.address" />
                        </div>
                    </div>
                </div>

                <div v-show="step == 4">
                    <h5>Выберите вариант оплаты</h5>

                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="tab-content px-3 py-3" :class="{'border-success': order.payment_type == 'full'}" style="cursor: pointer" @click="order.payment_type = 'full'">
                                <div class="text-center">
                                    Полностью
                                    <br>
                                    <span class="text-muted">&nbsp;</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-xs-12">
                            <div class="tab-content px-3 py-3" :class="{'border-success': order.payment_type == 'partial'}" style="cursor: pointer" @click="order.payment_type = 'partial'">
                                <div class="text-center">
                                    Предоплата 15%
                                    <br>
                                    <span class="text-muted">Остальное при получении</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <hr />
                    <button class="btn btn-secondary" type="button" @click.prevent="prevStep" v-show="step > 1">Назад</button>
                    <button class="btn btn-outline-info float-right" type="button" @click.prevent="nextStep" v-show="step < 4">Далее</button>
                    <button class="btn btn-outline-success float-right" @click="saveOrder" v-show="step == 4">Перейти к оплате</button>
                </div>

            </div>
        </div>

        <div class="col-lg-4 mx-auto" v-show="step > 1">
            <div class="auth-form-light text-left py-4 px-5">
                <total ref="total" :order="order" />
            </div>
        </div>
    </div>
</template>

<script>
    import Kit from './Kit';
    import Total from './Total';
    import Client from './Client';
    import flatPickr from 'vue-flatpickr-component';
    import {Russian} from 'flatpickr/dist/l10n/ru.js';
    import 'flatpickr/dist/flatpickr.css';
    import 'flatpickr/dist/themes/airbnb.css';

    export default {
        components: {
            Kit,
            Total,
            flatPickr,
            Client,
        },
        data () {
            return {
                step: 1,
                locations: [],
                datepickers: {
                    date: {
                        dateFormat: 'd.m.Y',
                        locale: Russian,
                        //onChange: this.updatePrice,
                    },
                    time: {
                        dateFormat: 'H:i',
                        time_24hr: true,
                        enableTime: true,
                        noCalendar: true,
                        //onChange: this.updatePrice,
                    }
                },
                deliveryTypes: [
                    {
                        name: 'Самовывоз',
                        value: 'self',
                    },
                    {
                        name: 'Доставка',
                        value: 'delivery',
                    }
                ],
                order: {
                    client: {
                        shoe_size: 36,
                        height: 120,
                        weight: 0,
                    },
                    kits: [
                        
                    ],
                    time: '11:00',
                    duration: 1,
                    dimension: 'd',
                    delivery: {
                        name: 'Самовывоз',
                        value: 'self',
                    },
                    promocode: '',
                    payment_type: 'full',
                },
                products: [
                    {
                        category_id: 3,
                        name: 'Защитный шлем',
                        alias: 'helmet',
                        sizes: ['S', 'M', 'L'],
                        image: '/images/stuff/helmet.jpg',
                    },
                    {
                        category_id: 2,
                        name: 'Маска',
                        alias: 'mask',
                        sizes: ['S', 'M', 'L'],
                        image: '/images/stuff/mask.jpg',
                    },
                ],
                defaultKit: {
                    type: 'ski', // snowboard
                    shoes: true,
                    snowboard: false,
                    poles: true,
                    ski: true,
                    additionals: [

                    ]
                },
            }
        },
        methods: {
            addKit () {
                this.order.kits.push(Object.assign({}, this.defaultKit));
            },
            removeKit (kit) {
                this.order.kits.splice(this.order.kits.indexOf(kit), 1);
            },
            updatePrice () {
                this.$refs.total.updatePrice();
            },
            getLocations () {
                axios.get('/rent/locations')
                    .then(response => {
                        this.locations = response.data;
                        this.order.location = this.locations[0];
                    })
                    .catch(error => {
                        this.error = error.response.data.message;
                        console.log(this.error);
                    });
            },
            saveOrder () {
                axios.post('/rent', {
                    order: this.order,
                })
                .then(response => {
                    console.log(response.data);

                    window.location.href = response.data.url;

                }).catch(error => {
                    this.error = error.response.data.message;
                    console.log(this.error);
                });
            },
            prevStep () {
                this.step--;
            },
            nextStep () {
                if(this.step == 1)
                {
                    if(! this.order.client.phone)
                    {
                        Vue.$toast.error('Заполните поле "Номер телефона"');
                        return false;
                    }
                }
                else if(this.step == 2)
                {
                    if(! this.order.date || ! this.order.time)
                    {
                        Vue.$toast.error('Выберите дату и время бронирования');
                        return false;
                    }
                }
                else if(this.step == 3)
                {
                    if(! this.order.client.first_name || ! this.order.client.last_name || ! this.order.client.height || ! this.order.client.weight || ! this.order.client.passport || ! this.order.client.shoe_size)
                    {
                        Vue.$toast.error('Заполните личные данные');
                        return false;
                    }
                }
                else if(this.step == 4)
                {

                }

                this.step++;
            }
        },
        mounted () {
            this.addKit();
            this.getLocations();
        },
        created () {
            
        },
        watch: {
            'order.date': function (value, old) {
                this.updatePrice();
            },
            'order.time': function (value, old) {
                this.updatePrice();
            }
        }
    }
</script>