<template>
    <div>
        <h4>Личные данные арендатора</h4>

        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label>Имя</label>
                    <input type="text" class="form-control" v-model="order.client.first_name">
                </div>
                <div class="form-group">
                    <label>Фамилия</label>
                    <input type="text" class="form-control" v-model="order.client.last_name">
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label>Рост</label>
                    <input type="number" min="120" class="form-control" v-model="order.client.height">
                </div>
                <div class="form-group">
                    <label>Вес</label>
                    <input type="number" min="30" class="form-control" v-model="order.client.weight">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Размер обуви</label>
                    <input type="number" min="30" class="form-control" v-model="order.client.shoe_size">
                </div>
                <div class="form-group">
                    <label>Паспорт</label>
                    <input type="text" class="form-control" v-model="order.client.passport">
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {

            }
        },
        props: {
            order: Object,
        },
        methods: {
            
        },
        mounted () {

        },
        created () {
            
        }
    }
</script>