<template>
    <div>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="tab-content px-3 py-3" :class="{'border-success': kit.type == 'ski'}" style="cursor: pointer" @click="setType('ski')">
                    <div class="text-center">
                        <img src="/images/stuff/ski.png" class="img img-fluid">
                    </div>
                    <div class="text-center">
                        Горнолыжный комплект
                    </div>
                </div>

                <div class="form-group row" v-show="kit.type == 'ski'">
                    <div class="col-4">
                        <div class="form-check form-check-flat">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" @change="updatePrice" v-model="kit.ski" disabled>
                                Лыжи
                                <i class="input-helper"></i>
                            </label>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-check form-check-flat">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" @change="updatePrice" v-model="kit.poles">
                                Палки
                                <i class="input-helper"></i>
                            </label>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-check form-check-flat">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" @change="updatePrice" v-model="kit.shoes">
                                Ботинки
                                <i class="input-helper"></i>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xs-12">
                <div class="tab-content px-3 py-3" :class="{'border-success': kit.type == 'snowboard'}" style="cursor: pointer" @click="setType('snowboard')">
                    <div class="text-center">
                        <img src="/images/stuff/snowboard.png" class="img img-fluid">
                    </div>
                    <div class="text-center">
                        Сноубордический комплект
                    </div>
                </div>

                <div class="form-group row" v-show="kit.type == 'snowboard'">
                    <div class="col-4">
                        <div class="form-check form-check-flat">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" @change="updatePrice" v-model="kit.snowboard" disabled>
                                Сноуборд
                                <i class="input-helper"></i>
                            </label>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-check form-check-flat">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" @change="updatePrice" v-model="kit.shoes">
                                Ботинки
                                <i class="input-helper"></i>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <additional-products :kit="kit" :products="products" :order="order" v-on:updated="updatePrice" />

        <div class="mt-3">
            <button class="btn btn-outline-danger" type="button" v-if="order.kits.length != 1" @click="removeKit">Удалить комплект</button>
        </div>

        <hr />
    </div>
</template>

<script>
    import AdditionalProducts from './AdditionalProducts';

    export default {
        components: {
            AdditionalProducts,
        },
        data () {
            return {

            }
        },
        props: {
            kit: Object,
            order: Object,
            products: Array,
        },
        methods: {
            setType (type) {
                this.kit.type = type;
                if(type == 'ski')
                {
                    this.kit.ski = true;
                    this.kit.snowboard = false;
                    this.kit.poles = true;
                    this.kit.shoes = true;
                }
                else
                {
                    this.kit.snowboard = true;
                    this.kit.ski = false;
                    this.kit.poles = false;
                    this.kit.shoes = true;
                }

                this.$emit('updated');
            },
            removeKit () {
                this.$emit('remove-kit', this.kit);

                this.$emit('updated');
            },
            updatePrice () {
                this.$emit('updated');
            }
        },
        mounted () {

        },
        created () {
            
        }
    }
</script>