<template>
    <div>
        <h5 class="text-center">Заказ</h5>
        <div class="text-center" v-if="from">
            с <span v-html="from"></span>
            <br>
            по <span v-html="to"></span>
        </div>

        <hr />

        <h4 class="text-center mt-2">{{ order.delivery.name }}</h4>

        <hr />

        <div class="form-group">
            <label>Промокод</label>
            <div class="row">
                <div class="col-8">
                    <input type="text" v-model="order.promocode" class="form-control">
                </div>
                <div class="col-4">
                    <button class="btn btn-success" @click.prevent="updatePrice">ОК</button>
                </div>
            </div>
        </div>

        <h5 class="text-center" v-if="price">{{ price }} руб.</h5>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                from: '–',
                to: '–',
                price: '–',
            }
        },
        props: {
            order: Object,
        },
        methods: {
            updatePrice () {
                if(! this.order.date || ! this.order.time)
                {
                    return false;
                }

                axios.post('/rent/calculate', {
                    order: this.order,
                })
                .then(response => {
                    this.from = response.data.from;
                    this.to = response.data.to;
                    this.price = response.data.price;
                }).catch(error => {
                    this.error = error.response.data.message;
                    console.log(this.error);
                });
            }
        },
        mounted () {

        },
        created () {
            
        }
    }
</script>